


<div class= "container">

     <!--Register form-->
      <div class="container">
       <div class=" px-2 mt-0 mb-4 pb-4 pt-4 large-form" >
        <div class=" rounded-0 reg-card px-2 ">
           <h2 id="blue-signup" class="h5 text-center blue-grey-text">Edit Account</h2>

            <div class="authform-edit resister  rounded-0">
               &nbsp;<h class="white-text" class="cred-heading ml-2" >Edit <%= resource_name.to_s.humanize %></h3><span> <i class="fa fa-user "></i></span>
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
              <%= render 'layouts/error_messages', object: resource %>
            <div class="form-group">
              <%= f.text_field :name, :autofocus => true, class: 'form-control  update-input1', placeholder: "Fullname" %>
           </div>
           <div class="form-group">
              <%= f.email_field :email, class: 'form-control rounded-0 update-input1', placeholder: "email" %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for:
               <%= resource.unconfirmed_email %>
          </div>
               <% end %>
          </div>

         <div class="form-group has-label">
              <%= f.text_field :name, class: 'form-control pr-0 mr-3 update-input', placeholder: "Fullname" %>
         </div>
         <div class="form-group has-label">
              <%= f.email_field :email, class: 'form-control pr-0  update-input', placeholder: "email" %>
         </div>
         <div class="form-group has-label">
              <%= f.password_field :password, class: 'form-control pr-0  update-input', placeholder: "password" %>
         </div>

         <div class="form-group">
              <%= f.password_field :current_password, class: 'form-control pr-0  update-input' , placeholder: "current password " %>
         </div>
             <button type="submit" class="btn btn-secondary btn-block">Update</button>
        <% end %>
        <div class="form-group has-label" style="color: #fff;">
              <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn-edit btn-danger btn-lg btn-block rounded-0 ' %>
        </div>

    </div><!--reg-card-->
  </div><!--reg-form-->
</div><!--container2-->
</div><!--container1-->










