

<div class= "container">
    <!---->



<!--Register form-->
<div class="container">

 <div class=" px-2 mt-0 mb-4 pb-4 pt-4 reg-form" >
  <div class=" rounded-0 reg-card px-2 ">

     <p id="blue-signup" class="h5 ml-3 mt-4 mb-2  blue-grey-text">Sign up</p>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="col-6">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="md-form">
          <%= f.label :company, id: "company-lable"%>
          <%= f.text_field :company, autofocus: true, class: "form-control", placholder: 'company' %>
        </div>
        <div class="md-form">
          <%= f.label :first_name, id: "company-lable" %>
          <%= f.text_field :first_name, class: "form-control", placholder: 'company' %>
        </div>
        <div class="md-form">
          <%= f.label :last_name, id: "company-lable" %>
          <%= f.text_field :last_name, class: "form-control", placholder: 'company'%>
        </div>
        <div class="md-form">
          <%= f.label :email, id: "company-lable" %>
          <%= f.email_field :email, class: "form-control", placholder: 'company'%>
        </div>

        <div class="md-form">
          <%= f.label :password, id: "company-lable" %>

          <%= f.password_field :password, autocomplete: "off", class: "form-control", placholder: 'company' %>
        </div>

        <div class="md-form">
          <%= f.label :password_confirmation, id: "company-lable" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placholder: 'company' %>
        </div>

        <div class="text-center mt-4">
         <button type="submit"  class="btn btn-block btn-elegant elegant-color-dark mb-4"  type="submit">Register</button>
        </div>
      <% end %>





          </div>


     </div>
    </div>



     </div>
    </div>

<% end -%>


