<div class="container">

  <div class="row">

    <div class="col-md-6">


      <%= form_with(model: property, local: true) do |form| %>
        <% if property.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

            <ul>
            <% property.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="md-form">
          <%= form.label :name %>
          <%= form.text_field :name, id: :property_name, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :street_num %>
          <%= form.text_field :street_num, id: :property_street_num, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :street_name %>
          <%= form.text_field :street_name, id: :property_street_name, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :city %>
          <%= form.text_field :city, id: :property_city, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :state %>
          <%= form.text_field :state, id: :property_state, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :zip %>
          <%= form.text_field :zip, id: :property_zip, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :zipcode_ext %>
          <%= form.text_field :zipcode_ext, id: :property_zipcode_ext, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :county %>
          <%= form.text_field :county, id: :property_county, class: "form-control"%>
        </div>

        <div class="md-form">
          <%= form.label :latitude %>
          <%= form.text_field :latitude, id: :property_latitude, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :longitude %>
          <%= form.text_field :longitude, id: :property_longitude, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :address %>
          <%= form.text_field :address, id: :property_address, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :listing_broker %>
          <%= form.text_field :listing_broker, id: :property_listing_broker, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <%= form.label :available, class: "check-label" %>
          <%= form.check_box :available, id: :property_available, class: "form-control check-control" %>
        </div>

        <div class="md-form">
          <%= form.label :on_market, class: "check-label" %>
          <%= form.check_box :on_market, id: :property_on_market, class: "form-control check-control" %>
        </div>

        <div class="md-form">
          <%= form.label :expired_listing, class: "check-label" %>
          <%= form.check_box :expired_listing, id: "expired_listing", class: "form-control check-control" %>
        </div>

        <div class="md-form">
          <%= form.label :contact %>
          <%= form.text_field :contact, id: :property_contact, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :user_id %>
          <%= form.text_field :user_id, id: :property_user_id, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :contact_id %>
          <%= form.text_field :contact_id, id: :property_contact_id, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :marketing_id %>
          <%= form.text_field :marketing_id, id: :property_marketing_id, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :campaign_id %>
          <%= form.text_field :campaign_id, id: :property_campaign_id, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :todo_id %>
          <%= form.text_field :todo_id, id: :property_todo_id, class: "form-control"  %>
        </div>
         <div class="md-form">
          <%= form.label :image_url %>
          <%= form.text_field :image_url, id: :image_url, class: "form-control"  %>
        </div>
      </div>



      <% end %>
    </div>
</div>
