<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Street num:</strong>
  <%= @property.street_num %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @property.street_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @property.zip %>
</p>

<p>
  <strong>Zipcode ext:</strong>
  <%= @property.zipcode_ext %>
</p>

<p>
  <strong>County:</strong>
  <%= @property.county %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @property.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @property.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Listing broker:</strong>
  <%= @property.listing_broker %>
</p>

<p>
  <strong>Available:</strong>
  <%= @property.available %>
</p>

<p>
  <strong>On market:</strong>
  <%= @property.on_market %>
</p>

<p>
  <strong>Expired listing:</strong>
  <%= @property.expired_listing %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @property.contact %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @property.contact %>
</p>

<p>
  <strong>Marketing:</strong>
  <%= @property.marketing %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @property.campaign %>
</p>

<p>
  <strong>Todo:</strong>
  <%= @property.todo %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
