<div class="container">
  <div class="row">

   <div class="col-md-6">


    <%= form_with(model: company, local: true) do |form| %>
      <% if company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
          <% company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="md-form">
          <%= form.label :name %>
          <%= form.text_field :name, id: :company_name, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :address %>
          <%= form.text_field :address, id: :company_address, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :phone_number %>
          <%= form.text_field :phone_number, id: :company_phone_number, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :phone_number_2 %>
          <%= form.text_field :phone_number_2, id: :company_phone_number_2, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :fax %>
          <%= form.text_field :fax, id: :company_fax, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :website %>
          <%= form.text_field :website, id: :company_website, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :owns %>
          <%= form.check_box :owns, id: :company_owns, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :rents %>
          <%= form.check_box :rents, id: :company_rents, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :primary_idustry %>
          <%= form.text_field :primary_idustry, id: :company_primary_idustry, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :secondary_idustry %>
          <%= form.text_field :secondary_idustry, id: :company_secondary_idustry, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :SF_occupying %>
          <%= form.number_field :SF_occupying, id: :company_SF_occupying, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :email %>
          <%= form.text_field :email, id: :company_email, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :notes %>
          <%= form.text_area :notes, id: :company_notes, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :sic_code %>
          <%= form.text_field :sic_code, id: :company_sic_code, class: "form-control" %>
        </div>

        <div class="md-form">
          <%= form.label :data_checked %>
          <%= form.check_box :data_checked, id: :company_data_checked, class: "form-control" %>
        </div>
       </div>

       <div class="col-md-6">
          <div class="md-form">
            <%= form.label :type_of_location %>
            <%= form.text_field :type_of_location, id: :company_type_of_location, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :listing_agent %>
            <%= form.text_field :listing_agent, id: :company_listing_agent, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :suit %>
            <%= form.text_field :suit, id: :company_suit, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :total_employees %>
            <%= form.number_field :total_employees, id: :company_total_employees, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :year_founded %>
            <%= form.text_field :year_founded, id: :company_year_founded, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :follow_up %>
            <%= form.text_area :follow_up, id: :company_follow_up, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :active %>
            <%= form.check_box :active, id: :company_active, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :references %>
            <%= form.text_field :references, id: :company_references, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :user %>
            <%= form.text_field :user, id: :company_user, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :references %>
            <%= form.text_field :references, id: :company_references, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :contact %>
            <%= form.text_field :contact, id: :company_contact, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :references %>
            <%= form.text_field :references, id: :company_references, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :project %>
            <%= form.text_field :project, id: :company_project, class: "form-control" %>
          </div>

          <div class="md-form">
            <%= form.label :references %>
            <%= form.text_field :references, id: :company_references, class: "form-control" %>
          </div>

          <div class="md-formd">
            <%= form.label :todo %>
            <%= form.text_field :todo, id: :company_todo, class: "form-control valid rounded-0" %>
          </div>

          <div class="md-form">
            <%= form.label :references %>
            <%= form.text_field :references, id: :company_references, class: "form-control valid rounded-0" %>
          </div>

          <div class="md-form">
            <button type="submit" class="btn btn-success btn-lg btn-block">Add A Company To The Data Base</button>
          </div>
        <% end %>
    </div>
  </div>
</div>
