<div class="container ">


  <p id="notice"><%= notice %></p>

  <h1>Companies</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Phone number 2</th>
        <th>Fax</th>
        <th>Website</th>
        <th>Owns</th>
        <th>Rents</th>
        <th>Primary idustry</th>
        <th>Secondary idustry</th>
        <th>Sf occupying</th>
        <th>Email</th>
        <th>Notes</th>
        <th>Sic code</th>
        <th>Data checked</th>
        <th>Type of location</th>
        <th>Listing agent</th>
        <th>Suit</th>
        <th>Total employees</th>
        <th>Year founded</th>
        <th>Follow up</th>
        <th>Active</th>
        <th>References</th>
        <th>User</th>
        <th>References</th>
        <th>Contact</th>
        <th>References</th>
        <th>Project</th>
        <th>References</th>
        <th>Todo</th>
        <th>References</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.address %></td>
          <td><%= company.phone_number %></td>
          <td><%= company.phone_number_2 %></td>
          <td><%= company.fax %></td>
          <td><%= company.website %></td>
          <td><%= company.owns %></td>
          <td><%= company.rents %></td>
          <td><%= company.primary_idustry %></td>
          <td><%= company.secondary_idustry %></td>
          <td><%= company.SF_occupying %></td>
          <td><%= company.email %></td>
          <td><%= company.notes %></td>
          <td><%= company.sic_code %></td>
          <td><%= company.data_checked %></td>
          <td><%= company.type_of_location %></td>
          <td><%= company.listing_agent %></td>
          <td><%= company.suit %></td>
          <td><%= company.total_employees %></td>
          <td><%= company.year_founded %></td>
          <td><%= company.follow_up %></td>
          <td><%= company.active %></td>
          <td><%= company.references %></td>
          <td><%= company.user %></td>
          <td><%= company.references %></td>
          <td><%= company.contact %></td>
          <td><%= company.references %></td>
          <td><%= company.project %></td>
          <td><%= company.references %></td>
          <td><%= company.todo %></td>
          <td><%= company.references %></td>
          <td><%= link_to 'Show', company %></td>
          <td><%= link_to 'Edit', edit_company_path(company) %></td>
          <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Company', new_company_path %>
</div>
