<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @company.phone_number %>
</p>

<p>
  <strong>Phone number 2:</strong>
  <%= @company.phone_number_2 %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @company.fax %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Owns:</strong>
  <%= @company.owns %>
</p>

<p>
  <strong>Rents:</strong>
  <%= @company.rents %>
</p>

<p>
  <strong>Primary idustry:</strong>
  <%= @company.primary_idustry %>
</p>

<p>
  <strong>Secondary idustry:</strong>
  <%= @company.secondary_idustry %>
</p>

<p>
  <strong>Sf occupying:</strong>
  <%= @company.SF_occupying %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @company.notes %>
</p>

<p>
  <strong>Sic code:</strong>
  <%= @company.sic_code %>
</p>

<p>
  <strong>Data checked:</strong>
  <%= @company.data_checked %>
</p>

<p>
  <strong>Type of location:</strong>
  <%= @company.type_of_location %>
</p>

<p>
  <strong>Listing agent:</strong>
  <%= @company.listing_agent %>
</p>

<p>
  <strong>Suit:</strong>
  <%= @company.suit %>
</p>

<p>
  <strong>Total employees:</strong>
  <%= @company.total_employees %>
</p>

<p>
  <strong>Year founded:</strong>
  <%= @company.year_founded %>
</p>

<p>
  <strong>Follow up:</strong>
  <%= @company.follow_up %>
</p>

<p>
  <strong>Active:</strong>
  <%= @company.active %>
</p>

<p>
  <strong>References:</strong>
  <%= @company.references %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user %>
</p>

<p>
  <strong>References:</strong>
  <%= @company.references %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @company.contact %>
</p>

<p>
  <strong>References:</strong>
  <%= @company.references %>
</p>

<p>
  <strong>Project:</strong>
  <%= @company.project %>
</p>

<p>
  <strong>References:</strong>
  <%= @company.references %>
</p>

<p>
  <strong>Todo:</strong>
  <%= @company.todo %>
</p>

<p>
  <strong>References:</strong>
  <%= @company.references %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
