





            <form>
              <%= form_with(model: compaine, local: true) do |form| %>
                <% if compaine.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(compaine.errors.count, "error") %> prohibited this compaine from being saved:</h2>

                    <ul>
                    <% compaine.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>





            <div class="row">
              <div class="col-sm-4 form-group">
                            <%= form.text_field :name, id: :compaine_name, class: "form-control valid rounded-0", placeholder: " Name" %>
              </div>
              <div class="col-sm-4 form-group">
                            <%= form.text_field :email, id: :compaine_email, class: "form-control valid rounded-0", placeholder: " Email" %>
              </div>
              <div class="col-sm-4 form-group">
                            <%= form.text_field :address, id: :compaine_address, class: "form-control valid rounded-0", placeholder: "Address" %>
              </div>
            </div>  <div class="row">
              <div class="col-sm-4 form-group">
                              <%= form.text_field :fax, id: :compaine_fax, class: "form-control valid rounded-0", placeholder: "Fax" %>
              </div>
              <div class="col-sm-4 form-group">
                            <%= form.text_field :phone_number, id: :compaine_phone_number, class: "form-control valid rounded-0", placeholder: "Phone number" %>
              </div>
              <div class="col-sm-4 form-group">
                            <%= form.text_field :phone_number_2, id: :compaine_phone_number_2, class: "form-control valid rounded-0", placeholder: "Second phone number"  %>
              </div>
            </div>  <div class="row">
              <div class="col-sm-4 form-group">
                          <%= form.text_field :website, id: :compaine_website, class: "form-control valid rounded-0", placeholder: "Website" %>
              </div>
              <div class="col-sm-4 form-group">
                           <%= form.text_field :rents, id: :compaine_rents, class: "form-control valid rounded-0", placeholder: "DO they rent?" %>
              </div>
              <div class="col-sm-4 form-group">
                             <%= form.text_field :owns, id: :compaine_owns, class: "form-control valid rounded-0", placeholder: "DO they own" %>
              </div>
            </div>  <div class="row">
              <div class="col-sm-4 form-group">
                              <%= form.label :primary_idustry, class: "form-control valid rounded-0", placeholder: "primaryidustry" %>
              </div>
              <div class="col-sm-4 form-group">
                            <%= form.text_field :address, id: :compaine_address, class: "form-control valid rounded-0", placeholder: "Compaine address" %>
              </div>
              <div class="col-sm-4 form-group">
                              <%= form.number_field :SF_occupying, id: :compaine_SF_occupying , class: "form-control valid rounded-0", placeholder: "Listing agent" %>
              </div>
            </div>  <div class="row">
              <div class="col-sm-4 form-group">
                          <%= form.text_field :secondary_idustry, id: :compaine_secondary_idustry, class: "form-control valid rounded-0", placeholder: "prefix" %>
              </div>
              <div class="col-sm-4 form-group">
                            <%= form.text_field :data_checked, id: :compaine_data_checked, class: "form-control valid rounded-0", placeholder: "enter true  or false, data checked" %>
              </div>
              <div class="col-sm-4 form-group">
                              <%= form.text_field :listing_agent, id: :compaine_listing_agent , class: "form-control valid rounded-0", placeholder: "Listing agent" %>
              </div>
            </div>  <div class="row">
              <div class="col-sm-4 form-group">
                          <%= form.text_field :sic_code, id: :compaine_sic_code, class: "form-control valid rounded-0", placeholder: "prefix" %>
              </div>
              <div class="col-sm-4 form-group">

                            <%= form.text_field :suit, id: :compaine_suit, class: "form-control valid rounded-0", placeholder: "Suit" %>
              </div>
              <div class="col-sm-4 form-group">

                             <%= form.number_field :total_employees, id: :compaine_total_employees , class: "form-control valid rounded-0", placeholder: "title" %>
              </div>
            </div>



            <div class="row">
              <div class="col-sm-4 form-group">

                             <%= form.text_field :year_founded, id: :compaine_year_founded , class: "form-control valid rounded-0", placeholder: "Enter the Year founded" %>
              </div>
              <div class="col-sm-4 form-group">

                                 <%= form.text_field :active, id: :compaine_active, class: "form-control valid rounded-0", placeholder: "Enter true if the company is active or flase if not" %>
              </div>
              <div class="col-sm-4 form-group">
                <button type="submit" id="form-btn" class="btn btn-outline-info rounded-0">Add company</button>

              </div>
            </div>
            <div class="row">


                            <% form.text_field :user_id, id: :compaine_user_id, class: "form-control valid rounded-0", placeholder: "Add user_id " %>


              <div class="col-sm-12 form-group">

                            <%= form.text_area :notes, id: :compaine_notes, class: "form-control valid rounded-0 textarea", placeholder: "Company notes" %>
              </div>
            </div>

     <% end %>
