<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @compaine.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @compaine.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @compaine.phone_number %>
</p>

<p>
  <strong>Phone number 2:</strong>
  <%= @compaine.phone_number_2 %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @compaine.fax %>
</p>

<p>
  <strong>Website:</strong>
  <%= @compaine.website %>
</p>

<p>
  <strong>Owns:</strong>
  <%= @compaine.owns %>
</p>

<p>
  <strong>Rents:</strong>
  <%= @compaine.rents %>
</p>

<p>
  <strong>Primary idustry:</strong>
  <%= @compaine.primary_idustry %>
</p>

<p>
  <strong>Secondary idustry:</strong>
  <%= @compaine.secondary_idustry %>
</p>

<p>
  <strong>Sf occupying:</strong>
  <%= @compaine.SF_occupying %>
</p>

<p>
  <strong>Email:</strong>
  <%= @compaine.email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @compaine.notes %>
</p>

<p>
  <strong>Sic code:</strong>
  <%= @compaine.sic_code %>
</p>

<p>
  <strong>Data checked:</strong>
  <%= @compaine.data_checked %>
</p>

<p>
  <strong>Type of location:</strong>
  <%= @compaine.type_of_location %>
</p>

<p>
  <strong>Listing agent:</strong>
  <%= @compaine.listing_agent %>
</p>

<p>
  <strong>Suit:</strong>
  <%= @compaine.suit %>
</p>

<p>
  <strong>Total employees:</strong>
  <%= @compaine.total_employees %>
</p>

<p>
  <strong>Year founded:</strong>
  <%= @compaine.year_founded %>
</p>

<p>
  <strong>Follow up:</strong>
  <%= @compaine.follow_up %>
</p>

<p>
  <strong>Active:</strong>
  <%= @compaine.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @compaine.user %>
</p>

<%= link_to 'Edit', edit_compaine_path(@compaine) %> |
<%= link_to 'Back', compaines_path %>
