<div class= "container">
    <!---->

<div class="extra-margin"> </div>

  <div class="authform login card  rounded-0">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <h3 class="cred-heading login-head text-center"><span class=""><i class="ion-person"></i></span></h3>
   <div class="text-white">
        <%= render 'layouts/error_messages', object: resource %>
    </div>
    <div class="card-header">
        <div>
            <h3 class="card-title text-center pr-3">Login</h3></div>
    </div>
    <div class="card-body pr-0">
        <div>
            <div class="form-group has-label mr-0">
                <label>
                    Email address
                    <!---->
                </label>
                <!---->
              <%= f.email_field :email, class: 'form-control  text-input right mr-0 pr-0', placeholder: "email",id: "login-email-input" %>                <!---->
                <!---->
            </div>
            <div class="form-group has-label  mr-0">
                <label>
                    passsword
                    <!---->
                </label>
                <!---->
                <%= f.password_field :password, class: 'form-control  text-input right mr-0', placeholder: "password", id: "login-password-input" %>
                <!---->
                <!---->
            </div>
            <div class="form-group  mr-0  p-0">
                <!---->
                <!---->
                <div class="form-check  text-white">
                    <label for="remember_me" class="form-check-label">

                    </label><%= f.check_box :remember_me, class: "form-check-input" %><span class="form-check-sign text-white ">&nbsp;Remember me</span>
                </div>
                <!---->
                <!---->
            </div>
        </div>
        <div class="text-center text-white">
            <button id="login-submit" type="button" class="btn-elegant btn-lg rounded-0">Sign back in</button>

            <br>
            <div class="forgot">
                            <%- if devise_mapping.recoverable? %>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: 'black-text' %>
        <% end -%>

          </div>
        </div>
    </div>
    <!---->
</div>
</div>


  <% end -%>



