

<div class="container">
  <div id="login-card" class="row authform card-register " style="margin: auto;">
    <div class="col-lg-12 ">


<!-- Material form login -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <h3 class="mt-4 text-center"><span class=""><i class="ion-person
" style="color: #212121; font-size: 70px !important;" ></i></span></h3>
    <p class=" h4 text-center " >Sign in</p>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

    </div>

    <!-- Material input password -->
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text pb-2" style=" font-size: 36px !important;" ></i>
    <%= f.password_field :password, autocomplete: "off" %>

    </div>
    <div class="md-form inline-form">
        <% if devise_mapping.rememberable? -%>
        <div class="field">
        <span>  <%= f.check_box :remember_me, class: "remember-check", id: "check-rember" %></span><span>&nbsp; &nbsp;<p id="rember" class="rember">Remember me</p></span><span class="float-right" id="forgot-pass"> <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot?", new_password_path(resource_name) %>
    <% end -%>
</span>

        </div>
      <% end -%>

    </div>

    <div class="text-center mt-4">
        <button type="submit"  class="btn btn-block btn-elegant elegant-color-dark mb-4"  type="submit">Login</button>
    </div>
    <% end %>



    </div>
  </div>
</div>


