

<!-- rails form -->

  <div class="todo-wrapper ml-0">

  <div class=top-todo p-2>

    <div class="task-list" id="inProgress">

      <ul class="list-inline" id="inProgress">
        <li class="list-inline-item"> <h3  class="white-text">In Progress </h3></li>
        <li class="list-inline-item float-right "><h2><i class="ion-chevron-down todo-progress-menu"></i></h2></li>
     </ul>

      <hr>

      <% @todos.each do |todo| %>
    <ul class="inprogress-task pl-0"  style="display: none">
      <li class="dragible ">
        <ul class="list-inline ml-0">
           <% if todo.finished != true %>
           <strong class="teal-text"><%= todo.title %></strong>
           <%= form_with(model: todo, local: true, id: 'finished_form') do |form| %>
           <li class="list-inline-item float-right"><span><i class="ion-android-checkbox-outline check-i"></i></span></li>

              <%= form.check_box :finished, checked: 'checked', class: 'hide' %>

          <% end %>
        </ul>
        <p><%= todo.description %></p>
      </li>
    </ul>
     <% end %>
  <% end %>

    </div>

    <div class="task-list">

      <ul class="list-inline pl-0"  id="completed">
        <li class="list-inline-item"> <h3  class="white-text">Completed</h3></li>
        <li class="list-inline-item float-right"><h2><i class="completed-task ion-chevron-down"></i></h2></li>
     </ul>
      <hr>


     <% @todos.each do |todo| %>
        <ul class="finshed-task pl-0"  style="display: none">
         <% if todo.finished == true %>
         <ul class="list-inline  pl-0">
            <li class="list-inline-item"><strong class="teal-text"><%= todo.title %></strong></li>

            <%= form_with(model: todo, local: true, id: 'test1') do |form| %>
           <li class="list-inline-item float-right"><span><i class="ion-trash-b check-i-delete"></i></span>

           <%= form_tag todo_path(todo.id), method: "delete", id: '' %></li>
            <% end %>
        </ul>
        <li> <p><%= todo.description %></p></li>
      <% end %>

        </ul>
    <% end %>


  </div>
  </div>

    <div class=" transparent card alert  elegant-color task-list add-task-sec mb-4">
      <ul class="list-inline">
        <li class="list-inline-item"> <h3  class="white-text">Action Steps</h3></li>
        <li class="list-inline-item float-right">
          <h2>

        <!-- Basic dropdown -->
        <div class="">
            <button class=" dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ion-ios-list white-text "></i></button>



            <div class="dropdown-menu">
                <h4 class="text-center">Assign to user</h4>

                  <% @users.each do |user| %>

              <div id="assigned_user" class="dropdown-item assign-task h-nav-drop " href="#">

                <p class="pb-1"><%= user.name %></p>

                <p class="ub-2 hide"><%= user.id %></p>


                </div>

                <% end %>


              </div>
          </div>

          </h2>
      </li>
     </ul>
    <div class="white-text" id="delete-div"  id="delete-task-btn">Pick Category</div>

<%= form_with(model: todo, local: true, id: 'finished_form', class: 'mdb-form') do |f| %>




<div class="fancy-select " tabindex="1" style="">
    <input class="selectopt" name="test" type="radio" id="opt1" checked>
    <label for="opt1" class="option-c">Marketing</label>
    <input class="selectopt" name="test" type="radio" id="opt2">
    <label for="opt2" class="option-c">Projects</label>
    <input class="selectopt" name="test" type="radio" id="opt3">
    <label for="opt3" class="option-c">Marketing</label>
    <input class="selectopt" name="test" type="radio" id="opt4">
    <label for="opt4" class="option-c">Properties</label>
    <input class="selectopt" name="test" type="radio" id="opt5">
    <label for="opt5" class="option-c">personal</label>
  </div>

      <%= f.number_field :user_id, class: "form-control hide", id: 'assigned_id' %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Enter a title for the action step' %></br>
      <%= f.text_area :description, class: 'form-control', placeholder: 'Enter a title for the action step' %></br>

        <div class="row center">
          <div class="col-6">
            <button type="submit" class="btn btn btn-outline-default w-100">Add Task</button>
          </div>
    <% end %>

          <div class="col-6">
           <a href="/todos" class="btn btn-outline-warning w-100">  View Data</a>
          </div>
      </div>
  </div>
</div>

