

<!-- rails form -->

  <div class="todo-wrapper ml-0">

  <div class=top-todo p-2>

    <div class="task-list" id="inProgress">

      <ul class="list-inline" id="inProgress">
        <li class="list-inline-item"> <h3  class="white-text">In Progress </h3></li>
        <li class="list-inline-item float-right "><h2><i class="ion-chevron-down todo-progress-menu"></i></h2></li>
     </ul>

      <hr>

      <% @todos.each do |todo| %>
    <ul class="inprogress-task "  style="display: none">
      <li class="dragible ">
        <ul class="list-inline">
           <strong class="teal-text"><%= todo.title %></strong>
           <li class="list-inline-item float-right"><span><i class="ion-android-checkbox-outline check-i"></i></span></li>
            <%= form_with(model: todo, local: true, id: 'finished_form') do |form| %>
              <%= form.check_box :finished, checked: 'checked', class: 'hide' %>

          <% end %>
        </ul>
        <p><%= todo.description %></p>
      </li>
    </ul>
  <% end %>

    </div>

    <div class="task-list">

      <ul class="list-inline"  id="completed">
        <li class="list-inline-item"> <h3  class="white-text">Completed</h3></li>
        <li class="list-inline-item float-right"><h2><i class="completed-task ion-chevron-down"></i></h2></li>
     </ul>
      <hr>


     <% @todos.each do |todo| %>
        <ul class="finshed-task"  style="display: none">
         <% if todo.finished == true %>
         <ul class="list-inline">
            <li class="list-inline-item"><strong class="teal-text"><%= todo.title %></strong></li>

            <%= form_with(model: todo, local: true, id: 'test1') do |form| %>
           <li class="list-inline-item float-right"><span><i class="ion-trash-b check-i-delete"></i></span>

           <%= form_tag todo_path(todo.id), method: "delete", id: '' %></li>
            <% end %>
        </ul>
        <li> <p><%= todo.description %></p></li>
      <% end %>

        </ul>
    <% end %>


  </div>
  </div>

    <div class=" transparent card alert elegant-color-dark task-list add-task-sec mb-4">
      <ul class="list-inline">
        <li class="list-inline-item"> <h3  class="white-text">Action Steps</h3></li>
        <li class="list-inline-item float-right"><h2><i class="ion-ios-list white-text "></i></h2></li>
     </ul>
    <div class="white-text" id="delete-div"  id="delete-task-btn">Pick Category</div>


      <%= form_with(model: todo, local: true) do |form| %>

     <% if todo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

          <ul>
          <% todo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
        <!--Blue select-->
            <div class="form-group">
            <select class="category form-control mdb-select" autofocus data-remote="true" data-update="message_div_id" id="todo_category" name="todo_category">
              <option>Marketing</option>
              <option>Deals</option>
              <option>Leads</option>
              <option>Personal</option>
            </select>

          </div>
        <!--/Blue select-->

    <%= form.text_field :title, id: :todo_title, class: "form-control", placeholder: "Todo name" %>

         <%= form.text_area :description, id: :todo_description, class: "form-control", placeholder: "Todo description"  %>
        <div class="row center">

          <div class="col-6">
            <button type="submit" class="btn btn-outline-success">Add One</button>

          </div>

          <div class="col-6">
           <a href="/todos" class="btn btn-outline-warning">  View Data</a>

          </div>

      </div>
  </div>
</div>

<% end %>
