<p id="notice"><%= notice %></p>

<h1>Marketings</h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th>Name</th>
      <th>Amount</th>
      <th>User</th>
      <th>Project</th>
      <th>Todo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marketings.each do |marketing| %>
      <tr>
        <td><%= marketing.list %></td>
        <td><%= marketing.name %></td>
        <td><%= marketing.amount %></td>
        <td><%= marketing.user %></td>
        <td><%= marketing.project %></td>
        <td><%= marketing.todo %></td>
        <td><%= link_to 'Show', marketing %></td>
        <td><%= link_to 'Edit', edit_marketing_path(marketing) %></td>
        <td><%= link_to 'Destroy', marketing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marketing', new_marketing_path %>
