<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Emails</th>
      <th>Post cards</th>
      <th>Letters flyers</th>
      <th>Calls</th>
      <th>Amount</th>
      <th>User</th>
      <th>Contact</th>
      <th>Project</th>
      <th>Todo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.emails %></td>
        <td><%= campaign.post_cards %></td>
        <td><%= campaign.letters_flyers %></td>
        <td><%= campaign.calls %></td>
        <td><%= campaign.amount %></td>
        <td><%= campaign.user %></td>
        <td><%= campaign.contact %></td>
        <td><%= campaign.project %></td>
        <td><%= campaign.todo %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %>
