<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hudsonapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hudsonapp" %>">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

      <%= render 'layouts/navigation' %>


       <%= render 'layouts/messages' %>





  <%= yield %>



        <div class="main-wrapper">
    </div>


</html>
